.habit-detail {
    .punch {
        height: 60vw;
        background-color: #fff;
        border-bottom: 1px solid #f1f1f1;
        .today {
            text-align: center;
            padding: 6vw 0;
            color: grey;
        }
        .circle {
            width: 28vw;
            height: 28vw;
            margin: 0 auto;
            border: 3vw solid grey;
            border-radius: 100%;
            &.active {
                border-color: #1afa29;
            }
            img {
                width: 22vw;
                margin: 3vw;
            }
        }
    }
    .habit-history {
        .my-history {
            height: 10vw;
            line-height: 10vw;
            text-align: center;
            margin-top: 3vw;
            background-color: white;
        }
        .item {
            height: 20vw;
            margin: 2vw;
            background-color: white;
            border-radius: 1vw;
            .left {
                float: left;
                width: 16vw;
                height: 16vw;
                margin: 2vw;
                text-align: center;
                border-right: 1px solid #f1f1f1;
                span {
                    line-height: 4vw;
                }
            }
            .right {
                margin-left: 20vw;
                // float: left;
                img {
                    float: right;
                    width: 16vw;
                    height: 16vw;
                    margin: 2vw;
                    border-radius: 1vw;
                }
                .word {
                    width: 52vw;
                    height: 18vw;
                    margin-top: 1vw;
                    display: inline-block;
                    overflow: auto;
                }
            }
        }
    }
    .modal {
        .content textarea {
            width: 90%;
            border: 1px solid #e2e2e2;
            border-radius: 5px;
            resize: none;
            padding: 5px 10px;
            margin: 10px auto;
        }
        ::ng-deep .am-modal-transparent {
            width: 80% !important;
        }
        // .img-wrapper {
        //     ::host-deep .am-image-picker-item {

        //     }
        // }
    }
}
