<div class="habit-detail">
    <div class="punch">
        <div class="today">
            {{ today }}
        </div>
        <div class="circle" [ngClass]="{'active': punchFlag}" (click)="popModal()">
            <img *ngIf="!punchFlag" src="../../../../assets/img/habit/dui-grey.svg" alt="">
            <img *ngIf="punchFlag" src="../../../../assets/img/habit/dui-active.svg" alt="">
        </div>
    </div>
    <div class="habit-history">
        <div class="my-history">
            我的记录
        </div>
        <ng-container *ngIf="habitHistoryList.length">
            <div *ngFor="let item of habitHistoryList" class="item">
                <div class="left">
                    <span> {{ item.day }}</span><br>
                    <span>{{ item.time }}</span>
                </div>
                <div class="right clearfix">
                    <span class="word">{{ item.word }}</span>
                    <img src="../../../../assets/img/ya.jpg" alt="">
                </div>
            </div>
        </ng-container>

        <div class="no-data" *ngIf="!habitHistoryList.length">
            <img src="../../../../assets/img/habit/no-data-yo.svg" alt=""><br>
            <span>还没数据啦~</span>
        </div>
    </div>
    <Modal [(ngModel)]="showModal" [transparent]="true" [title]="'来打卡啦老妹儿'" class="modal">
        <div class="content">
            <textarea name="punchText" id="" cols="30" rows="10" [(ngModel)]="punchContent"></textarea>
        </div>
        <div class="footer">
            <button (click)="doPunch()">走你</button>
        </div>
    </Modal>
</div>
