<div class="habit-detail">
    <div class="punch">
        <div class="today">
            {{ today }}
        </div>
        <div class="circle" [ngClass]="{'active': punchFlag}" (click)="popModal()">
            <img *ngIf="!punchFlag" src="../../../../assets/img/habit/dui-grey.svg" alt="">
            <img *ngIf="punchFlag" src="../../../../assets/img/habit/dui-active.svg" alt="">
        </div>
    </div>
    <div class="habit-history">
        <div *ngFor="let item of habitHistoryList" class="item">
            <div class="left">
                <span>day 1</span><br><br>
                <span>3-14 22:00</span>
            </div>
            <div class="right clearfix">
                <span class="word">今天吃奈雪🌶</span>
                <img src="../../../../assets/img/ya.jpg" alt="">
            </div>
        </div>
    </div>
    <Modal [(ngModel)]="showModal" [transparent]="true" [title]="'来打卡啦老妹儿'" class="modal">
        <div class="content">
            <textarea name="punchText" id="" cols="30" rows="10" [(ngModel)]="punchContent"></textarea>
        </div>
        <div class="footer">
            <div Button [type]="'primary'" (click)="doPunch()">走你</div>
        </div>
    </Modal>
</div>
