<div class="account-list">
    <div class="top-counts">
        <span class="label">净资产</span>
        <span class="value">2346</span>
    </div>
    <span class="my-account">我的账户</span>
    <div class="from-list">
        <div class="item" *ngFor="let item of fromList">
            <img src="../../../../assets/img/ya.jpg" alt="" class="pull-left">
            <div class="account">
                {{ item.name }}
            </div>
            <div class="pull-right">
                <button class="small" (click)="seeBill()">账单</button>
                <button class="small" (click)="addRecord()">记一笔</button>
            </div>
        </div>
    </div>
    <Modal [(ngModel)]="showModal" [transparent]="true" [title]="'记它一笔'" class="modal">
        <div class="content">
            <input type="number" name="moneyNum" placeholder="输入金额" [(ngModel)]="moneyNum">
        </div>
        <div class="img-wrapper">
            <ng-container *ngFor="let img of habitImgList; let i = index">
                <img [src]="'../../../../assets/img/account/list/' + img + '.svg'"
                    [ngClass]="{'chosen': i === nowChosenIndex}" (click)="choseOneImg(i)">
                <br *ngIf="!((i+1) % 5)">
            </ng-container>
        </div>
        <div class="footer">
            <div class="pull-right type" [ngClass]="{'active': isIncome }" (click)="toggleIncomeType()">{{ isIncome ? '收入' : '支出' }}</div>
            <button (click)="confirmAdd()">走你</button>
        </div>
    </Modal>
</div>
