@import "../../../../var.scss";

.account-list {
    .pie-data {
        box-sizing: content-box;
        position: absolute;
        right: 5vw;
        top: 3vw;
        width: 6vw;
        height: 6vw;
        border: 1vw solid $grey-border;
        border-radius: 100%;
    }
    .top-counts {
        height: 30vw;
        background: white;
        text-align: left;
        .label {
            display: block;
            padding: 5vw;
        }
        .value {
            padding: 5vw;
            font-size: 20px;
            font-weight: bold;
            color: red;
        }
    }
    .my-account {
        display: block;
        height: 8vw;
        padding-left: 5vw;
        line-height: 8vw;
        text-align: left;
    }
    .from-list {
        .item {
            height: 12vw;
            background: white;
            margin-bottom: 2vw;
            img {
                width: 6vw;
                height: 6vw;
                padding: 1vw;
                margin: 2vw 5vw;
                box-sizing: content-box;
                border-radius: 100%;
                background-color: #f1f1f1;
            }
            .account {
                float: left;
                line-height: 12vw;
                font-size: 16px;
            }
            .pull-right {
                line-height: 12vw;
                padding: 0 5vw;
                button {
                    &:first-child {
                        margin-right: 3vw;
                    }
                }
            }
        }
    }
    .modal {
        .content textarea {
            width: 90%;
            border: 1px solid #e2e2e2;
            border-radius: 5px;
            resize: none;
            padding: 5px 10px;
            margin: 10px auto;
        }
        ::ng-deep .am-modal-transparent {
            width: 80% !important;
        }
        .date-picker {
            ::ng-deep .am-list-extra {
                flex-basis: 60%;
            }
        }
        .img-wrapper {
            margin: 2vw 0;
            height: 50vw;
            overflow: auto;
            img {
                width: 6vw;
                margin: 1vw 2vw;
                padding: 2vw;
                box-sizing: content-box;
                border-radius: 100%;
                background-color: #f1f1f1;
                &.chosen {
                    background: $main-green;
                }
            }
        }
        .footer {
            position: relative;
            .chosen-label {
                position: absolute;
                left: 20px;
                top: 5px;
            }
            .type {
                box-sizing: content-box;
                width: 12vw;
                height: 6vw;
                line-height: 6vw;
                text-align: center;
                position: absolute;
                top: 1vw;
                right: 5vw;
                border-radius: 1vw;
                border: 0.5vw solid $dark-grey;
                color: $dark-grey;
                &.active {
                    border-color: $main-green;
                    color: $main-green;
                }
            }
        }
    }
}
