<div class="pie-chart">
    <Tabs
      [page]="3"
      [useOnPan]="true"
      [swipeable]="true"
      [tabBarActiveTextColor]="'#1890ff'"
      (onChange)="onChange($event)"
    >
      <TabPane title="账户">
      </TabPane>
      <TabPane title="类别">
      </TabPane>
      <TabPane title="标签">
      </TabPane>
    </Tabs>
    <span class="pay-text" [ngClass]="{'active': payType}">{{ payType ? '收入' : '支出'}}</span>
    <Switch class="switch" [checked]="false" (onChange)="changePay($event)"></Switch>
    <div id="pieChart" class="chart"></div>
</div>
