@import '../../../../var.scss';

.habit-list {
    overflow: hidden;
    .card {
        width: 94%;
        margin: 15px auto;
        height: 80px;
        text-align: left;
        line-height: 80px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        img {
            display: inline-block;
            width: 36px;
            height: 36px;
            margin: 24px;
        }
    }
    .add-habit {
        width: 100px;
        height: 40px;
        line-height: 40px;
        background: #47c479;
        color: white;
        border-radius: 26px;
        position: fixed;
        bottom: 12px;
        left: calc(50vw - 50px);
    }
    .modal {
        .content textarea {
            width: 90%;
            border: 1px solid #e2e2e2;
            border-radius: 5px;
            resize: none;
            padding: 5px 10px;
            margin: 10px auto;
        }
        ::ng-deep .am-modal-transparent {
            width: 80% !important;
        }
        .img-wrapper {
            margin: 2vw 0;
            img {
                width: 6vw;
                margin: 2vw 3vw;
                padding: 1vw;
                box-sizing: content-box;
                border-radius: 2vw;
                &.chosen {
                    background: $main-green;
                }
            }
        }
    }
}
