<div class="habit-list">
    <div class="card" *ngFor="let habit of habitList" (click)="goToDetail(habit.id, habit.name)">
        <img [src]="'../../../../assets/img/habit/' + (habit.img || 'no-data') + '.svg'" alt="" class="pull-left">
        <span>{{ habit.name }}</span>
    </div>
    <div class="add-habit" (click)="addHabit()">
        添加习惯
    </div>
    <Modal [(ngModel)]="showModal" [transparent]="true" [title]="'新的开始'" class="modal">
        <div class="content">
            <input type="text" name="habitName" placeholder="输入新的习惯名">
        </div>
        <div class="img-wrapper">
            <ng-container *ngFor="let img of habitImgList">
                <img [src]="'../../../../assets/img/habit/' + img + '.svg'" alt="">
            </ng-container>
        </div>
        <div class="footer">
            <div Button [type]="'primary'" (click)="doPunch()">走你</div>
        </div>
    </Modal>
</div>
