.habit-list {
    overflow: hidden;
    .card {
        width: 94%;
        margin: 15px auto;
        height: 80px;
        text-align: left;
        line-height: 80px;
        border-radius: 4px;
        background: #fff;
        box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
        img {
            display: inline-block;
            width: 40px;
            height: 40px;
            margin: 20px;
        }
    }
    .add-habit {
        width: 100px;
        height: 40px;
        line-height: 40px;
        background: #47c479;
        color: white;
        border-radius: 26px;
        position: fixed;
        bottom: 10px;
        left: calc(50vw - 50px);
    }

}
