<div class="bill">
    <div class="flex-around picker-wrapper">
        <div class="date-picker flex-1">
            <ListItem DatePicker [extra]="currentDateFormat(chosenMonth, 'yyyy-mm')" [arrow]="'horizontal'"
                [mode]="'month'" [(ngModel)]="chosenMonth" (onOk)="getBillList()">
            </ListItem>
        </div>
        <div class="flex-1">
            <ListItem Picker [extra]="chosenAccount" [arrow]="'horizontal'" [data]="accountList"
                [(ngModel)]="chosenAccountArr" (ngModelChange)="getBillList()">
            </ListItem>
        </div>
    </div>
    <div class="top-counts">
        <span class="label">账户余额 2020/3</span><br>
        <span class="value">{{ billSum?.rest }}</span><br>
        <span class="text">收入</span>
        <span class="num">{{ billSum?.income }}</span>
        <span class="text">支出</span>
        <span class="num">{{ billSum?.pay }}</span>
    </div>

    <div class="bill-list">
        <div class="day-item clearfix" *ngFor="let item of billList" (click)="showEditModal(item)">
            <div class="pull-left left-date">
                {{ item.time }} <br>
                {{ item.day }}
            </div>
            <img [src]="'../../../../assets/img/account/list/' + item.label_img + '.svg'" alt="">
            <div class="pull-left label">
                {{ item.label_name }} <br>
                <span class="grey-font">{{ item.comment }}</span>
            </div>
            <div class="money">
                <span
                    [ngClass]="{'grey-font': item.type === 0, 'success-font': item.type === 1}">{{ item.type === 0 ? '支出' : '收入'}}</span>
                {{ item.money }} 元
            </div>
        </div>
        <div class="no-data" *ngIf="!billList.length">
            <img src="../../../../assets/img/habit/no-data-yo.svg" alt=""><br>
            <span>还没数据啦~</span>
        </div>
    </div>
    <!-- <div class="bill-list">
        <div class="day-item clearfix" *ngFor="let day of billList">
            <div class="pull-left left-date">
                {{ day.time }} <br>
                {{ day.day }}
            </div>
            <div class="right-things">
                <div class="bill-item" *ngFor="let bill of day.list">
                    {{bill.img}}-{{ bill.type }}-{{ bill.comment }}-{{ bill.money }}
                </div>
            </div>
        </div>
    </div> -->
    <div style="margin-top: 2vw;"></div>

    <Modal [(ngModel)]="showModal" [transparent]="true" [title]="'记它一笔'" class="modal">
        <div class="content flex-around">
            <div class="flex-1">
                <input type="number" name="moneyNum" placeholder="输入金额" [(ngModel)]="moneyNum">
            </div>
            <div class="flex-1 ml-15">
                <input type="text" name="comment" placeholder="输入自定义信息" [(ngModel)]="comment">
            </div>
        </div>
        <div class="date-picker">
            <ListItem
                DatePicker
                [extra]="currentDateFormat(chosenDate, 'yyyy-mm-dd')"
                [arrow]="'horizontal'"
                [mode]="'date'"
                [(ngModel)]="chosenDate"
            >
                <Brief>选择日期</Brief>
            </ListItem>
        </div>
        <div class="img-wrapper">
            <ng-container *ngFor="let item of labelList; let i = index">
                <img [src]="'../../../../assets/img/account/list/' + item.img + '.svg'"
                    [ngClass]="{'chosen': i === nowChosenIndex}" (click)="choseOneImg(i)">
                <br *ngIf="!((i+1) % 5)">
            </ng-container>
        </div>
        <div class="footer">
            <div class="chosen-label">{{ chosenLabelName }}</div>
            <div class="type" [ngClass]="{'active': isIncome }" (click)="toggleIncomeType()">
                {{ isIncome ? '收入' : '支出' }}</div>
            <button (click)="confirmUpdate()" class="small">更新</button>
            <button (click)="confirmDel()" class="ml-10 small btn-danger">删除</button>
        </div>
    </Modal>
</div>
